.character{
    background-color: #fff;
    width: 80%;
    border-radius: 2rem;
    display: flex;
    margin-bottom: 2rem;
}
img {
    width: 30%;
}

.liked {
    background-color: red;
}

.notLiked {
    background-color: aquamarine;
}


/* .left {
    display: flex;
    justify-content: left;
}

.right{
    display: flex;
    justify-content: right;
} */